<h1>Rewards</h1>

<%= link_to "Add New Reward", new_admin_reward_path %>

<br><br>
<div id=active_rewards>
<h2>Active</h2>
  <table>
    <tr>
      <th>
        Item
      </th>
      <th>
        Cost
      </th>
      <th>
        Actions
      </th>
    </tr>
    <% @active_rewards.each do |reward| %>
      <tr id=reward_<%= reward.name %> >
        <td><%= reward.display_name %></td>
        <td><%= reward.cost %></td>
        <td>
          <%= link_to "Edit", edit_admin_reward_path(reward) %>
          <%= link_to "Deactivate", admin_reward_path(reward), method: :delete  %>
        </td>
      </tr>
    <% end %>
  </table>
</div>

<br><br>
<div id=inactive_rewards>
<h2>Inactive</h2>
  <table>
    <tr>
      <th>
        Item
      </th>
      <th>
        Cost
      </th>
      <th>
        Actions
      </th>
    </tr>
    <% @inactive_rewards.each do |reward| %>
      <tr id=reward_<%= reward.name %> >
        <td>
          <%= reward.display_name %>
        </td>
        <td>
          <%= reward.cost %>
        </td>
        <td>
          <%= form_for reward, url: admin_reward_path(reward), method: :put do |f| %>
              <%= f.text_field :status, value: "active", type: :hidden %>
              <%= f.submit "Reactivate" %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
</div>