<h1>Create a New Rewards</h1>

<%= form_for :item_list, url: new_admin_reward_path, method: :get do |f| %>
  <%= f.label :category %>
  <%= f.select :category_name, @item_categories, include_blank: '' %>
  <%= f.label :name %>
  <%= f.text_field :item_name %>
  <%= f.submit "Filter" %>
<% end %>
<br><br>

<% unless @item_results.empty? %>
  <h3>Select rewards to add:</h3>
  <%= form_for :rewards, url: admin_rewards_path do |f| %>
    <table>
    <% @item_results.each do |item_name| %>
      <tr>
        <td>
          <%= item_name %>
        </td>
        <td>
          Cost: <%= f.text_field item_name %>
        </td>
      </tr>
    <% end %>
    </table>
    <br>
    <%= f.submit "Create Rewards" %>
  <% end %>
<% end %>

