<!DOCTYPE html>
<html>
  <head>
    <title>PokemonTrading</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    Hello, <%= current_user ? current_user.username : "guest" %>
    <%= "You are a #{current_user.role}" if current_user %>
    <%= yield %>
  </body>
</html>
